@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
/* index.css or App.css */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  