@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
/* index.css or App.css */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  @keyframes enter {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes leave {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  .animate-enter {
    animation: enter 0.3s ease-out forwards;
  }
  .animate-leave {
    animation: leave 0.3s ease-in forwards;
  }
  